@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: #0c0c0d;
  overflow-x: hidden;
}

@font-face {
  font-family: starwars;
  src: url(fonts/starjedi.woff);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0c0c0d;
}

.left {
  float: left;
  display: inline-block;
  background-color: transparent;
}

.slogo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 25px;
  left: 5%;
  background-color: transparent;
}

.right {
  float: right;
  display: inline-block;
  padding: 40px 10%;
}

.nav {
  position: relative;
  display: inline-block;
  font-size: 21px;
  letter-spacing: 1.4px;
  padding: 5px 30px;
  left: 15%;
  color: #fff;
  text-decoration: none;
  font-family: starwars;
  transition: all .3s ease-out;
}

.nav:hover {
  color: #000;
  background-color: #fff;
}

.menuicon {
  display: none;
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  z-index: 20;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #131314;
  z-index: 10;
}

.links {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.down {
  color: #fff;
  margin: 60px 0;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1.1px;
  font-family: starwars;
  display: block;
}

.down:hover {
  color: #000;
  transition: all .3s ease-out;
}

@media only screen and (max-width: 750px)
{
  .right {
    display: none;
  }
  .menuicon {
    display: inline-block;
  }

}

.main {
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.details {
  background-color: #151517;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  margin-right: 180px;
  margin-left: 180px;
  margin-bottom: 80px;
}

.titlehold {
  margin-top: 10px;;
}

.title {
  color: #fff;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  font-family: starwars;
  color: #fff;
}

.info {
  color: #fff;
  font-size: 17px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 30px
}

.explain {
  color: #fff;
  font-size: 16spx;
  font-family: starwars;
  font-weight: normal;
  margin-left: 100px;
  letter-spacing: 1.4px;
}

.depth {
  color: rgba(255,255,255,0.7);
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  margin-left: 120px;
  max-width: 700px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.concerns {
  color: #fff;
  font-size: 17px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -20px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1100px) {
  .depth {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 850px) {
  .details {
    margin-left: 70px;
    margin-right: 70px;
  }
  .infohold {
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .info {
    text-align: center;
  }
  .explain {
    text-align: center;
    margin-left: 0px;
  }
  .depthholder {
    align-items: center;
  }
  .concernholder {
    align-items: center;
  }
  .concerns {
    max-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 550px)
{
  .info {
    margin-left: 20px;
    margin-right: 20px;
  }
  .depth {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 440px)
{
  .details {
    margin-left: 20px;
    margin-right: 20px;
  }
  .info {
    font-size: 14px;
  }
  .explain {
    font-size: 13px;
  }
  .depth {
    font-size: 13px;
  }
  .concerns {
    font-size: 14px;
  }
}

footer {
  background-color: #060608;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.onefoot {
  order: 1;
}

.footlinks {
  margin-top: 40px;
  margin-left: 70px;
}

.portal {
  padding: none;
  margin-top: 70px;
  margin-bottom: 60px;
}

.home {
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 17px;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.home:hover {
  box-shadow: 0 3px #fff;
}

.web {
  color: #fff;
  margin-left: 60px;
  font-size: 10px;
  font-family: 'Cabin', sans-serif;
  font-weight: lighter;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.logofoot {
  margin-right: 80px;
  display: block;
  margin-top: 20px;
  width: 130px;
  height: 130px;
  background-color: transparent;
}

.footinfo {
  margin-right: 90px;
}

.foottitle {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  padding: none;
}

.experience {
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1.2px;
  max-width: 380px;
  font-style: italic;
}

.exp2 {
  color: #fff;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1.2px;
}

.ipfoot {
  background-color: transparent;
  color: #fff;
  outline: none;
  border-color: #fff;
  border-width: medium;
  border-style: solid;
  letter-spacing: 1.3px;
  font-size: 16px;
  font-family: starwars;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ipfoot:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  footer {
    flex-wrap: wrap;
  }
  .onefoot {
    width: 100%;
    order: unset;
    margin-bottom: 40px;
  }
  .twofoot {
    width: 50%;
  }
  .threefoot {
    width: 50%;
  }
  .logofoot {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
  }
  .footinfo {
    float: right;
    margin-right: 10px;
    margin-top: -20px;
  }
  .experience {
    font-size: 17px;
    margin-left: 10px;
  }
  .footlinks {
    margin-top: 20px;
  }
  .home {
    font-size: 17px;
  }
  .portal {
    margin-top: 30px;
  }
  .foottitle {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    align-items: center;
    flex-direction: column;
  }
  .onefoot {
    width: 100%;
  }
  .twofoot {
    order: 2;
    width: 100%;
  }
  .threefoot {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .logofoot {
    width: 150px;
    height: 150px;
  }
  .footlinks {
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .imprint {
    margin-top: 50px;
  }
  .impress {
    font-size: 16px;
  }
  .home {
    font-size: 16px;
  }
  .webhold {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
  }
  .portal {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .web {
    font-size: 8px;
    margin: auto;
  }
  .experience {
    font-size: 15px;
  }
  .foottitle {
    margin-right: 20px;
    margin-left: 20px;
  }
  .footinfo {
    margin: auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdc3c7;
}
